[submodule "deps/philslib"]
	path = deps/philslib
	url = https://github.com/CppPhil/philslib.git
[submodule "deps/clang-format"]
	path = deps/clang-format
	url = https://github.com/CppPhil/clang-format.git
[submodule "deps/Graph"]
	path = deps/Graph
	url = https://github.com/Terae/Graph
